.headerBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  z-index: 5;
}

.logoBox {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
    flex-wrap: wrap; /* 모바일 화면에서 줄바꿈 허용 */
}
.logoImg {
    width: 200px;
}
.menu {
    display: flex;
    gap: 30px !important; /* !important로 우선순위 강제 */
    padding: 0 20px !important;
}

.homeButton,
.docs,
.teamButton,
.deckButton,
.contactButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px !important;
    color: #ffffff;
    text-decoration: none;
    font-family: pertendard;
}

.homeActive,
.docsActive,
.teamActive,
.deckActive,
.contactActive {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px !important;
    color: #f77705 !important;
    text-decoration: none;
    font-family: pertendard;
}

.toService {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #ffffff;
    font-size: 22.5px;
    font-weight: 600;
    margin-top: 5px;
    padding: 0px 20px 0px 20px;
    width: 100%;
    border: none;
    white-space: nowrap; /* 줄바꿈 방지 */
}

@media (max-width: 1024px) {
    .menu .toService {
        display: none;
    }
}
