.serviceHomeContainer{
  height: 100%;
  width: 100%;
}
.serviceHomeHeader{
  padding-top:6.875rem;
  padding-bottom: 5rem;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Noto Sans KR;
  font-size: 2rem; /*추후 변경 -> 2.5rem;*/
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.375rem;
  gap: 30px;
}


.serviceHomeLogo {
  width:16rem;
  height:3.75rem;
  
}

.tutorialContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10.625rem 0 10.625rem;
}

.tutorialVideo{
  width: 80rem;
  height: 45rem;
}